<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

</head>

<body>
<h1>로그인</h1>
<form id="loginForm" method="post">
    <label for="username">사용자명:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">로그인</button>
</form>

<script>
    $(document).ready(function() {
        $('#loginForm').submit(function(event) {
        event.preventDefault();
        var formData = {
                username: $("#username").val(),
                password: $("#password").val()
            };
        $.ajax({
            type: 'POST',
            url: '/login',
            data: formData,
            success: function(response) {
                var accessToken = response.access_token;
                console.log(response);
                localStorage.setItem('accessToken', accessToken);
                console.log("local : " + localStorage.getItem('accessToken'));
                console.log("login page : " + accessToken);
                alert('로그인 성공');
                window.location.href = '/';
            },
            error: function(xhr, status, error) {
                console.log(error);
                alert('로그인 실패');
            }
        });
    });
});
</script>
</body>
</html>